## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint Simons,US,31.1352,-81.3901,53.08,37,0,11.50,clear sky
1,1,Carnarvon,AU,-24.8667,113.6333,86.59,62,6,6.20,clear sky
2,2,Atuona,PF,-9.8000,-139.0333,77.32,80,20,13.96,light rain
3,3,Dunedin,NZ,-45.8742,170.5036,61.81,61,81,15.01,broken clouds
4,4,Ilulissat,GL,69.2167,-51.1000,6.82,72,100,13.80,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
user_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                  (city_data_df["Max Temp"] >= min_temp)]

user_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Carnarvon,AU,-24.8667,113.6333,86.59,62,6,6.20,clear sky
2,2,Atuona,PF,-9.8000,-139.0333,77.32,80,20,13.96,light rain
6,6,Hithadhoo,MV,-0.6000,73.0833,82.22,73,64,12.75,broken clouds
26,26,Puerto Carreno,CO,6.1890,-67.4859,81.72,46,51,8.99,broken clouds
27,27,Ranong,TH,9.9658,98.6348,82.02,77,76,4.16,broken clouds
29,29,Dapdap,PH,12.0620,125.4881,81.79,69,100,10.42,overcast clouds
31,31,Kavieng,PG,-2.5744,150.7967,84.00,71,89,4.54,light rain
34,34,Vaini,TO,-21.2000,-175.2000,80.28,71,88,16.15,overcast clouds
37,37,Bambous Virieux,MU,-20.3428,57.7575,81.21,88,100,13.60,light rain
38,38,Rikitea,PF,-23.1203,-134.9692,78.93,71,2,14.38,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
user_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
user_cities_df.replace('',np.nan, inplace=True)
user_cities_df.dropna()

/Users/yeseniaperez/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Carnarvon,AU,-24.8667,113.6333,86.59,62,6,6.20,clear sky
2,2,Atuona,PF,-9.8000,-139.0333,77.32,80,20,13.96,light rain
6,6,Hithadhoo,MV,-0.6000,73.0833,82.22,73,64,12.75,broken clouds
26,26,Puerto Carreno,CO,6.1890,-67.4859,81.72,46,51,8.99,broken clouds
27,27,Ranong,TH,9.9658,98.6348,82.02,77,76,4.16,broken clouds
...,...,...,...,...,...,...,...,...,...,...
681,681,Emerald,AU,-23.5333,148.1667,89.35,31,0,16.35,clear sky
686,686,Morondava,MG,-20.2833,44.2833,77.86,91,22,9.08,few clouds
688,688,Baturaja,ID,-4.1333,104.1667,82.53,77,93,2.48,light rain
691,691,Poum,NC,-20.2333,164.0167,83.05,76,98,11.30,overcast clouds
692,692,Lazaro Cardenas,MX,17.9583,-102.2000,76.59,70,92,2.82,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = user_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Carnarvon,AU,86.59,clear sky,-24.8667,113.6333,
2,Atuona,PF,77.32,light rain,-9.8000,-139.0333,
6,Hithadhoo,MV,82.22,broken clouds,-0.6000,73.0833,
26,Puerto Carreno,CO,81.72,broken clouds,6.1890,-67.4859,
27,Ranong,TH,82.02,broken clouds,9.9658,98.6348,
29,Dapdap,PH,81.79,overcast clouds,12.0620,125.4881,
31,Kavieng,PG,84.00,light rain,-2.5744,150.7967,
34,Vaini,TO,80.28,overcast clouds,-21.2000,-175.2000,
37,Bambous Virieux,MU,81.21,light rain,-20.3428,57.7575,
38,Rikitea,PF,78.93,clear sky,-23.1203,-134.9692,

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [ ]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace('',np.nan, inplace=True)
hotel_df.dropna().head()

In [8]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [9]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} </dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))